.containerSpecial{
    background-color: rgba(16, 20, 24,0.7);
}
.subHead{
    color: #fff;
    font-size: 30px;
    margin-top: 17px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 30px;
}