@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');
.containerSpecial{
    background-color: rgba(16, 20, 24,0.7);
}
.subHead{
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 17px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 30px;
}