.flexSec{
    display: flex;
    align-items: center;
    gap: 10px;
}
.num{
    font-size: 48px;
    color:#FFCE6D;
}
.imgIcon{
    width: 80px;
    height: 80px;
}
.desc{
    color: #fff;
    font-size: 18px;
    text-align: center;
}