@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h3 {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;

}

p {
    font-family: 'Roboto', sans-serif;
}

.conatiner {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 53px;
    color: #FFFCCC;
}